* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
span {
  color: red;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 12%;
  background: rgb(27, 27, 27);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 35px;
  color: white;
  font-weight: 600;
  transition: 0.3 ease;
}
.logo:hover {
  color: red;
  text-shadow: 0 0 25px red, 0 0 50px red;
  transform: scale(1.2);
}

.navbar a {
  font-size: 25px;
  color: white;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.3 ease;
}
.navbar a:hover {
  color: red;
  border-bottom: 3px solid red;
}

.social-media-button {
  width: 45px;
  height: auto;
  background-color: black;
  border-radius: 15px;
  vertical-align: middle;
}
.social-media-button:hover {
  transform: scale(1.05);
}

.contact-container {
  display: flex;
  align-items: normal;
  gap: 10px;
}
.contact-button {
  color: black;
  font-size: 20px;
  font-weight: 00;
  border: 15px solid transparent;
  border-radius: 15px;
  background-color: whitesmoke;
  transition: 0.3 ease-in;
}
.contact-button:hover {
  background-color: rgb(51, 50, 50);
  color: white;
  transform: scale(1.05);
}
