* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
span {
  color: red;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 12%;
  background: rgb(27, 27, 27);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
html {
  scroll-behavior: smooth;
}
.logo {
  font-size: 35px;
  color: white;
  font-weight: 600;
  transition: 0.3 ease;
}
.logo:hover {
  color: red;
  text-shadow: 0 0 25px red, 0 0 50px red;
  transform: scale(1.2);
}

.navbar a {
  font-size: 25px;
  color: white;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.3 ease;
}
.navbar a:hover {
  color: red;
  border-bottom: 3px solid red;
}

.social-media-button {
  width: 45px;
  height: auto;
  background-color: black;
  border-radius: 15px;
  vertical-align: middle;
}
.social-media-button:hover {
  transform: scale(1.05);
}

.contact-container {
  display: flex;
  align-items: normal;
  gap: 10px;
}
.contact-button {
  color: black;
  font-size: 20px;
  font-weight: 00;
  border: 15px solid transparent;
  border-radius: 15px;
  background-color: whitesmoke;
  transition: 0.3 ease-in;
}
.contact-button:hover {
  background-color: rgb(51, 50, 50);
  color: white;
}
.home-section {
  width: 100%;
  min-height: 100vh;
  background: rgb(241, 241, 241);
  padding: 30px;
  display: flex;
  align-items: center;
}
.home-content {
  max-width: 850px;
}
.home-content h3 {
  font-size: 50px;
}
.home-content h1 {
  font-size: 45px;
  margin-bottom: 24px;
}
.email-section {
  display: flex;
  align-items: center;
  gap: 5px;
}

.email-button {
  padding: 15px 28px;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: 550;
  border: 3px solid transparent;
  border-radius: 15px;
  letter-spacing: 1.3px;
  cursor: pointer;
}

.email-button:hover {
  color: black;
  background-color: white;
  border: 3px solid black;
}

.email-section-image {
  width: 45px;
  height: auto;
  border: 45px;
  border-radius: 15px;
  background-color: whitesmoke;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.3s ease;
}

.email-button:hover + .email-section-image {
  opacity: 1;
  transform: translateY(0px);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  max-width: 60px;
  margin: auto;
  padding: 20px;
}

.skill-box {
  border: 10px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.skill-box img {
  max-width: 110px;
  max-height: 110px;
  object-fit: contain;
}

.about-me {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 12% 8%;
  background: black;
}

.about-content {
  margin: 0 auto;
  max-width: 50%;
}

.about-content h2 {
  text-align: left;
  color: white;
}
.about-content h3 {
  font-size: 42px;
  color: white;
}
.about-content p {
  color: white;
  font-size: 25px;
}
.heading {
  font-size: 55px;
  margin-bottom: 10px;
}
.skills h2 {
  text-align: left;
}
.skills {
  display: flex;
  align-items: center;
  min-height: 88vh;
  padding: 0 80px;
}
